---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/rranelli/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1410327775'
      Etag:
      - '"0759f25ff633c4b94e501ea7b1981f75"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"id":12424028,"name":"7langs7weeks","full_name":"rranelli/7langs7weeks","owner":{"login":"rranelli","id":4231743,"avatar_url":"https://avatars.githubusercontent.com/u/4231743?v=2","gravatar_id":"4569aec00cb223b3fbf484f9e7ba1256","url":"https://api.github.com/users/rranelli","html_url":"https://github.com/rranelli","followers_url":"https://api.github.com/users/rranelli/followers","following_url":"https://api.github.com/users/rranelli/following{/other_user}","gists_url":"https://api.github.com/users/rranelli/gists{/gist_id}","starred_url":"https://api.github.com/users/rranelli/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rranelli/subscriptions","organizations_url":"https://api.github.com/users/rranelli/orgs","repos_url":"https://api.github.com/users/rranelli/repos","events_url":"https://api.github.com/users/rranelli/events{/privacy}","received_events_url":"https://api.github.com/users/rranelli/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/rranelli/7langs7weeks","description":"Repository
        for exercises and stuff about the book 7languages in 7weeks by bruce tate.","fork":false,"url":"https://api.github.com/repos/rranelli/7langs7weeks","forks_url":"https://api.github.com/repos/rranelli/7langs7weeks/forks","keys_url":"https://api.github.com/repos/rranelli/7langs7weeks/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rranelli/7langs7weeks/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rranelli/7langs7weeks/teams","hooks_url":"https://api.github.com/repos/rranelli/7langs7weeks/hooks","issue_events_url":"https://api.github.com/repos/rranelli/7langs7weeks/issues/events{/number}","events_url":"https://api.github.com/repos/rranelli/7langs7weeks/events","assignees_url":"https://api.github.com/repos/rranelli/7langs7weeks/assignees{/user}","branches_url":"https://api.github.com/repos/rranelli/7langs7weeks/branches{/branch}","tags_url":"https://api.github.com/repos/rranelli/7langs7weeks/tags","blobs_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/refs{/sha}","trees_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rranelli/7langs7weeks/statuses/{sha}","languages_url":"https://api.github.com/repos/rranelli/7langs7weeks/languages","stargazers_url":"https://api.github.com/repos/rranelli/7langs7weeks/stargazers","contributors_url":"https://api.github.com/repos/rranelli/7langs7weeks/contributors","subscribers_url":"https://api.github.com/repos/rranelli/7langs7weeks/subscribers","subscription_url":"https://api.github.com/repos/rranelli/7langs7weeks/subscription","commits_url":"https://api.github.com/repos/rranelli/7langs7weeks/commits{/sha}","git_commits_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/commits{/sha}","comments_url":"https://api.github.com/repos/rranelli/7langs7weeks/comments{/number}","issue_comment_url":"https://api.github.com/repos/rranelli/7langs7weeks/issues/comments/{number}","contents_url":"https://api.github.com/repos/rranelli/7langs7weeks/contents/{+path}","compare_url":"https://api.github.com/repos/rranelli/7langs7weeks/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rranelli/7langs7weeks/merges","archive_url":"https://api.github.com/repos/rranelli/7langs7weeks/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rranelli/7langs7weeks/downloads","issues_url":"https://api.github.com/repos/rranelli/7langs7weeks/issues{/number}","pulls_url":"https://api.github.com/repos/rranelli/7langs7weeks/pulls{/number}","milestones_url":"https://api.github.com/repos/rranelli/7langs7weeks/milestones{/number}","notifications_url":"https://api.github.com/repos/rranelli/7langs7weeks/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rranelli/7langs7weeks/labels{/name}","releases_url":"https://api.github.com/repos/rranelli/7langs7weeks/releases{/id}","created_at":"2013-08-28T03:47:25Z","updated_at":"2014-08-14T05:55:37Z","pushed_at":"2013-10-06T19:29:05Z","git_url":"git://github.com/rranelli/7langs7weeks.git","ssh_url":"git@github.com:rranelli/7langs7weeks.git","clone_url":"https://github.com/rranelli/7langs7weeks.git","svn_url":"https://github.com/rranelli/7langs7weeks","homepage":null,"size":128,"stargazers_count":1,"watchers_count":1,"language":"Io","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":23813404,"name":"after_do-loader","full_name":"rranelli/after_do-loader","owner":{"login":"rranelli","id":4231743,"avatar_url":"https://avatars.githubusercontent.com/u/4231743?v=2","gravatar_id":"4569aec00cb223b3fbf484f9e7ba1256","url":"https://api.github.com/users/rranelli","html_url":"https://github.com/rranelli","followers_url":"https://api.github.com/users/rranelli/followers","following_url":"https://api.github.com/users/rranelli/following{/other_user}","gists_url":"https://a[...]
