---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/2.0/repositories/rranelli
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Render-Time:
      - '0.0338971614838'
      Content-Language:
      - en
      X-Static-Version:
      - 681cde0c9586
      Last-Modified:
      - Sun, 02 Nov 2014 16:08:01 GMT
      X-Version:
      - 0bb09755d479
      X-Request-Count:
      - '426'
    body:
      encoding: UTF-8
      string: '{"pagelen": 10, "values": [], "page": 1}'
  recorded_at: Sun, 02 Nov 2014 16:08:02 GMT
- request:
    method: get
    uri: https://api.github.com/users/rranelli/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1414945991'
      Etag:
      - '"7b30d2fbb23837debfcfe7571cd7127e"'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/4231743/repos?page=2>; rel="next", <https://api.github.com/user/4231743/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":12424028,"name":"7langs7weeks","full_name":"rranelli/7langs7weeks","owner":{"login":"rranelli","id":4231743,"avatar_url":"https://avatars.githubusercontent.com/u/4231743?v=2","gravatar_id":"","url":"https://api.github.com/users/rranelli","html_url":"https://github.com/rranelli","followers_url":"https://api.github.com/users/rranelli/followers","following_url":"https://api.github.com/users/rranelli/following{/other_user}","gists_url":"https://api.github.com/users/rranelli/gists{/gist_id}","starred_url":"https://api.github.com/users/rranelli/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rranelli/subscriptions","organizations_url":"https://api.github.com/users/rranelli/orgs","repos_url":"https://api.github.com/users/rranelli/repos","events_url":"https://api.github.com/users/rranelli/events{/privacy}","received_events_url":"https://api.github.com/users/rranelli/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/rranelli/7langs7weeks","description":"Repository
        for exercises and stuff about the book 7languages in 7weeks by bruce tate.","fork":false,"url":"https://api.github.com/repos/rranelli/7langs7weeks","forks_url":"https://api.github.com/repos/rranelli/7langs7weeks/forks","keys_url":"https://api.github.com/repos/rranelli/7langs7weeks/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rranelli/7langs7weeks/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rranelli/7langs7weeks/teams","hooks_url":"https://api.github.com/repos/rranelli/7langs7weeks/hooks","issue_events_url":"https://api.github.com/repos/rranelli/7langs7weeks/issues/events{/number}","events_url":"https://api.github.com/repos/rranelli/7langs7weeks/events","assignees_url":"https://api.github.com/repos/rranelli/7langs7weeks/assignees{/user}","branches_url":"https://api.github.com/repos/rranelli/7langs7weeks/branches{/branch}","tags_url":"https://api.github.com/repos/rranelli/7langs7weeks/tags","blobs_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/refs{/sha}","trees_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rranelli/7langs7weeks/statuses/{sha}","languages_url":"https://api.github.com/repos/rranelli/7langs7weeks/languages","stargazers_url":"https://api.github.com/repos/rranelli/7langs7weeks/stargazers","contributors_url":"https://api.github.com/repos/rranelli/7langs7weeks/contributors","subscribers_url":"https://api.github.com/repos/rranelli/7langs7weeks/subscribers","subscription_url":"https://api.github.com/repos/rranelli/7langs7weeks/subscription","commits_url":"https://api.github.com/repos/rranelli/7langs7weeks/commits{/sha}","git_commits_url":"https://api.github.com/repos/rranelli/7langs7weeks/git/commits{/sha}","comments_url":"https://api.github.com/repos/rranelli/7langs7weeks/comments{/number}","issue_comment_url":"https://api.github.com/repos/rranelli/7langs7weeks/issues/comments/{number}","contents_url":"https://api.github.com/repos/rranelli/7langs7weeks/contents/{+path}","compare_url":"https://api.github.com/repos/rranelli/7langs7weeks/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rranelli/7langs7weeks/merges","archive_url":"https://api.github.com/repos/rranelli/7langs7weeks/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rranelli/7langs7weeks/downloads","issues_url":"https://api.github.com/repos/rranelli/7langs7weeks/issues{/number}","pulls_url":"https://api.github.com/repos/rranelli/7langs7weeks/pulls{/number}","milestones_url":"https://api.github.com/repos/rranelli/7langs7weeks/milestones{/number}","notifications_url":"https://api.github.com/repos/rranelli/7langs7weeks/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rranelli/7langs7weeks/labels{/name}","releases_url":"https://api.github.com/repos/rranelli/7langs7weeks/releases{/id}","created_at":"2013-08-28T03:47:25Z","updated_at":"2014-08-14T05:55:37Z","pushed_at":"2013-10-06T19:29:05Z","git_url":"git://github.com/rranelli/7langs7weeks.git","ssh_url":"git@github.com:rranelli/7langs7weeks.git","clone_url":"https://github.com/rranelli/7langs7weeks.git","svn_url":"https://github.com/rranelli/7langs7weeks","homepage":null,"size":128,"stargazers_count":1,"watchers_count":1,"language":"Io","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":23813404,"name":"after_do-loader","full_name":"rranelli/after_do-loader","owner":{"login":"rranelli","id":4231743,"avatar_url":"https://avatars.githubusercontent.com/u/4231743?v=2","gravatar_id":"","url":"https://api.github.com/users/rranelli","html_url":"https://github.com/rranelli","followers_url":"https://api.github.com/users/rranelli/followers","following_url":"https://api.github.com/users/rranelli/following{/other_user}","gists_url":"https://api.github.com/users/rranelli/gis[...]
- request:
    method: get
    uri: https://api.github.com/user/4231743/repos?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1414945991'
      Etag:
      - '"7927b04373b37b9cbf2db7b6f1e97102"'
      X[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/after_do-logging
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Sun, 14 Sep 2014 00:57:08 GMT[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/Aquarium
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Thu, 14 Aug 2014 15:16:43 GMT
      E[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/clojure-koans
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Fri, 03 Oct 2014 04:53:13 GMT
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/coursera
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Sat, 28 Dec 2013 01:24:53 GMT
      E[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/coursera-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Mon, 14 Jul 2014 12:27:21 GMT
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/CSharp.Fun
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Mon, 26 May 2014 20:16:09 GMT
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/emacs-neotree
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Wed, 13 Aug 2014 00:02:57 GMT
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/emacs.d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Wed, 25 Jun 2014 09:33:50 GMT
      Et[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/git-timemachine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Fri, 04 Jul 2014 15:36:35 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/javadoc-lookup
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '31'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Fri, 03 Oct 2014 07:06:02 GMT
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/melpa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Thu, 07 Aug 2014 19:08:24 GMT
      Etag[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/pgsqlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Wed, 25 Jun 2014 00:54:44 GMT
      Et[...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/rspec-mode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Fri, 08 Aug 2014 23:16:38 GMT
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/ruby-electric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Fri, 20 Jun 2014 14:10:34 GMT
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/ruby-git-hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Tue, 19 Aug 2014 23:55:53 GMT
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/use-package
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Thu, 14 Aug 2014 02:24:07 GMT
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/workflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1414945991'
      Last-Modified:
      - Fri, 08 Aug 2014 23:51:07 GMT
      E[...]
