---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rranelli/ruby-git-hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1410332160'
      Last-Modified:
      - Tue, 19 Aug 2014 23:55:53 GMT
      Etag:
      - '"41e993fcff642600ee458f58ef52fb78"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"id":21404883,"name":"ruby-git-hooks","full_name":"rranelli/ruby-git-hooks","owner":{"login":"rranelli","id":4231743,"avatar_url":"https://avatars.githubusercontent.com/u/4231743?v=2","gravatar_id":"4569aec00cb223b3fbf484f9e7ba1256","url":"https://api.github.com/users/rranelli","html_url":"https://github.com/rranelli","followers_url":"https://api.github.com/users/rranelli/followers","following_url":"https://api.github.com/users/rranelli/following{/other_user}","gists_url":"https://api.github.com/users/rranelli/gists{/gist_id}","starred_url":"https://api.github.com/users/rranelli/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rranelli/subscriptions","organizations_url":"https://api.github.com/users/rranelli/orgs","repos_url":"https://api.github.com/users/rranelli/repos","events_url":"https://api.github.com/users/rranelli/events{/privacy}","received_events_url":"https://api.github.com/users/rranelli/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/rranelli/ruby-git-hooks","description":"Some
        usefull ruby git hooks.","fork":true,"url":"https://api.github.com/repos/rranelli/ruby-git-hooks","forks_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/forks","keys_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/teams","hooks_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/hooks","issue_events_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/issues/events{/number}","events_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/events","assignees_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/assignees{/user}","branches_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/branches{/branch}","tags_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/tags","blobs_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/git/refs{/sha}","trees_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/statuses/{sha}","languages_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/languages","stargazers_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/stargazers","contributors_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/contributors","subscribers_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/subscribers","subscription_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/subscription","commits_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/commits{/sha}","git_commits_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/git/commits{/sha}","comments_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/comments{/number}","issue_comment_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/issues/comments/{number}","contents_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/contents/{+path}","compare_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/merges","archive_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/downloads","issues_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/issues{/number}","pulls_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/pulls{/number}","milestones_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/milestones{/number}","notifications_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/labels{/name}","releases_url":"https://api.github.com/repos/rranelli/ruby-git-hooks/releases{/id}","created_at":"2014-07-01T23:06:50Z","updated_at":"2014-08-19T23:55:53Z","pushed_at":"2014-08-21T22:53:32Z","git_url":"git://github.com/rranelli/ruby-git-hooks.git","ssh_url":"git@github.com:rranelli/ruby-git-hooks.git","clone_url":"https://github.com/rranelli/ruby-git-hooks.git","svn_url":"https://github.com/rranelli/ruby-git-hooks","homepage":null,"size":255,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","parent":{"id":21166102,"name":"git-hooks","full_name":"stupied4ever/git-hooks","owner":{"login":"stupied4ever","id":535347,"avatar_url":"https://avatars.githubusercontent.com/u/535347?v=2","gravatar_id":"1eb9b500bbf85599f404c92417a450a4","url":"https://api.github.com/users/stupied4ever","html_url":"https://github.com/stupied4ever","followers_url":"https://api.github.com/users/stupied4ever/followers","following_url":"https://api.github.com/users/stupied4ever/following{/other_user}","gists_url":"https://a[...]
